<?xml version="1.0"?>
<fop version="1.0">
<renderers>
  <strict-configuration>true</strict-configuration>
  <strict-validation>true</strict-validation>
   <renderer mime="application/pdf">
      <fonts>
          <font metrics-url="${rootdir}/simhei.xml" kerning="yes" embed-url="${rootdir}/simhei.ttf">
          	<font-triplet name="simhei" style="normal" weight="normal"/>
          </font>
          <font metrics-url="${rootdir}/simsun.xml" kerning="yes" embed-url="${rootdir}/simsun.ttc">
          	<font-triplet name="simsun" style="normal" weight="normal"/>
         </font>
      </fonts>
   </renderer>
</renderers>
</fop>  
