<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory> 
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.provider_class">org.noka.dbutil.DruidConnectionProvider</property>  
		<property name="driverClassName">com.mysql.jdbc.Driver</property>
		 
      	<!-- <property name="url">jdbc:mysql://172.16.1.64:5506/NK_BMS?useUnicode=true&amp;autoReconnect=true&amp;characterEncoding=UTF-8&amp;useOldAliasMetadataBehavior=true</property>
      	<property name="username">bms</property>
      	<property name="password">bms01</property> -->
      	
      	<property name="url">jdbc:mysql://127.0.0.1:3306/NK_BMS?useUnicode=true&amp;autoReconnect=true&amp;characterEncoding=UTF-8&amp;useOldAliasMetadataBehavior=true</property>
      	<property name="username">root</property>
      	<property name="password">hanfeng111222!@#</property>
      	<property name="initialSize">20</property>
      	<property name="minIdle">20</property>
      	<property name="maxActive">100</property>
    	<property name="maxWait">60000</property>
    	<property name="timeBetweenEvictionRunsMillis">60000</property>
    	<property name="minEvictableIdleTimeMillis">300000</property>
      	<property name="validationQuery">SELECT 'x'</property>
      	<property name="testWhileIdle">true</property>
      	<property name="testOnBorrow">false</property>
      	<property name="testOnReturn">false</property>
      	<property name="poolPreparedStatements">true</property>
      	<property name="maxPoolPreparedStatementPerConnectionSize">200</property>
        <!-- Item 配置 -->
		<mapping resource="org/noka/item/UserItem.hbm.xml"/>
		<mapping resource="org/noka/item/MenuItem.hbm.xml"/>
		<mapping resource="org/noka/item/WordbookItem.hbm.xml"/>
		<mapping resource="org/noka/item/TreeBookItem.hbm.xml"/>
		<mapping resource="org/noka/item/DeptItem.hbm.xml"/>
		<mapping resource="org/noka/item/PopedomswardItem.hbm.xml"/>
		<mapping resource="org/noka/item/RoleItem.hbm.xml"/>
		<mapping resource="org/noka/item/DlForRoleItem.hbm.xml"/>
		<mapping resource="org/noka/item/LogItem.hbm.xml"/>
		<!-- <mapping resource="org/noka/item/ipr/CustomerInfoItem.hbm.xml"/>
		<mapping resource="org/noka/item/ipr/ContactsInfoItem.hbm.xml"/> -->
		
	</session-factory>
</hibernate-configuration>